In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [36]:
df = pd.read_csv("C:\\Users\\jeeva\\Downloads\\Covid_data.csv")
df.head()

,location,continent,date,iso_code,tests_units,aged_65_older,aged_70_older,cardiovasc_death_rate,Deathp100K,diabetes_prevalence,...,positive_rate,stringency_index,tests_per_case,total_cases,total_cases_per_million,total_deaths,total_deaths_per_million,total_tests,total_tests_per_thousand,Waterfall
0,South Africa,Africa,06/08/2020 12:00:00 AM,ZAF,NaN,5.344,3.053,200.380,15.677298,5.52,...,NaN,NaN,NaN,529877.0,8934.222,9298.0,156.773,NaN,NaN,-9298.0
1,South Africa,Africa,07/08/2020 12:00:00 AM,ZAF,NaN,5.344,3.053,200.380,16.193243,5.52,...,NaN,NaN,NaN,538184.0,9074.286,9604.0,161.932,NaN,NaN,-9604.0
2,Iran,Asia,31/12/2019 12:00:00 AM,IRN,NaN,5.440,3.182,270.308,0.000000,9.59,...,NaN,NaN,NaN,0.0,0.000,0.0,0.000,NaN,NaN,0.0
3,Iran,Asia,06/08/2020 12:00:00 AM,IRN,NaN,5.440,3.182,270.308,21.194635,9.59,...,NaN,NaN,NaN,317483.0,3779.877,17802.0,211.946,NaN,NaN,-17802.0
4,Iran,Asia,07/08/2020 12:00:00 AM,IRN,NaN,5.440,3.182,270.308,21.211303,9.59,...,NaN,NaN,NaN,320117.0,3811.236,17816.0,212.113,NaN,NaN,-17816.0

In [37]:
df.isnull().sum()

location                              0
continent                             0
date                                  0
iso_code                              0
tests_units                         537
aged_65_older                         0
aged_70_older                         0
cardiovasc_death_rate                 0
Deathp100K                           48
diabetes_prevalence                   0
extreme_poverty                       0
female_smokers                        0
gdp_per_capita                        0
handwashing_facilities             1197
hospital_beds_per_thousand            0
life_expectancy                       0
male_smokers                        157
median_age                            0
Mortality Rate                      299
new_cases                            48
new_cases_per_million                48
new_deaths                           48
new_deaths_per_million               48
new_tests                           719
new_tests_per_thousand              719
new_tests_smoothed                  615
new_tests_smoothed_per_thousand     615
Number of Records                     0
population                            0
population_density                    0
positive_rate                       809
stringency_index                     59
tests_per_case                      861
total_cases                          48
total_cases_per_million              48
total_deaths                         48
total_deaths_per_million             48
total_tests                         650
total_tests_per_thousand            650
Waterfall                            48
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1977 entries, 0 to 1976
Data columns (total 40 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   location                         1977 non-null   object
 1   continent                        1977 non-null   object
 2   date                             1977 non-null   object
 3   iso_code                         1977 non-null   object
 4   tests_units                      1440 non-null   object
 5   aged_65_older                    1977 non-null   float64
 6   aged_70_older                    1977 non-null   float64
 7   cardiovasc_death_rate            1977 non-null   float64
 8   Deathp100K                       1929 non-null   float64
 9   diabetes_prevalence              1977 non-null   float64
 10  extreme_poverty                  1977 non-null   float64
 11  female_smokers                   1977 non-null   float64
 12  gdp_per_capita                   1977 non-null   float64
 13  handwashing_facilities           780 non-null    float64
 14  hospital_beds_per_thousand       1977 non-null   float64
 15  life_expectancy                  1977 non-null   float64
 16  male_smokers                     1820 non-null   float64
 17  median_age                       1977 non-null   float64
 18  Mortality Rate                   1678 non-null   float64
 19  new_cases                        1929 non-null   float64
 20  new_cases_per_million            1929 non-null   float64
 21  new_deaths                       1929 non-null   float64
 22  new_deaths_per_million           1929 non-null   float64
 23  new_tests                        1258 non-null   float64
 24  new_tests_per_thousand           1258 non-null   float64
 25  new_tests_smoothed               1362 non-null   float64
 26  new_tests_smoothed_per_thousand  1362 non-null   float64
 27  Number of Records                1977 non-null   int64
 28  population                       1977 non-null   int64
 29  population_density               1977 non-null   float64
 30  positive_rate                    1168 non-null   float64
 31  stringency_index                 1918 non-null   float64
 32  tests_per_case                   1116 non-null   float64
 33  total_cases                      1929 non-null   float64
 34  total_cases_per_million          1929 non-null   float64
 35  total_deaths                     1929 non-null   float64
 36  total_deaths_per_million         1929 non-null   float64
 37  total_tests                      1327 non-null   float64
 38  total_tests_per_thousand         1327 non-null   float64
 39  Waterfall                        1929 non-null   float64
dtypes: float64(33), int64(2), object(5)
memory usage: 617.9+ KB

In [39]:
df.shape

(1977, 40)

In [40]:
df.duplicated().sum()

0

In [41]:
df.fillna(0,inplace=True)

In [42]:
df.isna().sum()

location                           0
continent                          0
date                               0
iso_code                           0
tests_units                        0
aged_65_older                      0
aged_70_older                      0
cardiovasc_death_rate              0
Deathp100K                         0
diabetes_prevalence                0
extreme_poverty                    0
female_smokers                     0
gdp_per_capita                     0
handwashing_facilities             0
hospital_beds_per_thousand         0
life_expectancy                    0
male_smokers                       0
median_age                         0
Mortality Rate                     0
new_cases                          0
new_cases_per_million              0
new_deaths                         0
new_deaths_per_million             0
new_tests                          0
new_tests_per_thousand             0
new_tests_smoothed                 0
new_tests_smoothed_per_thousand    0
Number of Records                  0
population                         0
population_density                 0
positive_rate                      0
stringency_index                   0
tests_per_case                     0
total_cases                        0
total_cases_per_million            0
total_deaths                       0
total_deaths_per_million           0
total_tests                        0
total_tests_per_thousand           0
Waterfall                          0
dtype: int64

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1977 entries, 0 to 1976
Data columns (total 40 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   location                         1977 non-null   object
 1   continent                        1977 non-null   object
 2   date                             1977 non-null   object
 3   iso_code                         1977 non-null   object
 4   tests_units                      1977 non-null   object
 5   aged_65_older                    1977 non-null   float64
 6   aged_70_older                    1977 non-null   float64
 7   cardiovasc_death_rate            1977 non-null   float64
 8   Deathp100K                       1977 non-null   float64
 9   diabetes_prevalence              1977 non-null   float64
 10  extreme_poverty                  1977 non-null   float64
 11  female_smokers                   1977 non-null   float64
 12  gdp_per_capita                   1977 non-null   float64
 13  handwashing_facilities           1977 non-null   float64
 14  hospital_beds_per_thousand       1977 non-null   float64
 15  life_expectancy                  1977 non-null   float64
 16  male_smokers                     1977 non-null   float64
 17  median_age                       1977 non-null   float64
 18  Mortality Rate                   1977 non-null   float64
 19  new_cases                        1977 non-null   float64
 20  new_cases_per_million            1977 non-null   float64
 21  new_deaths                       1977 non-null   float64
 22  new_deaths_per_million           1977 non-null   float64
 23  new_tests                        1977 non-null   float64
 24  new_tests_per_thousand           1977 non-null   float64
 25  new_tests_smoothed               1977 non-null   float64
 26  new_tests_smoothed_per_thousand  1977 non-null   float64
 27  Number of Records                1977 non-null   int64
 28  population                       1977 non-null   int64
 29  population_density               1977 non-null   float64
 30  positive_rate                    1977 non-null   float64
 31  stringency_index                 1977 non-null   float64
 32  tests_per_case                   1977 non-null   float64
 33  total_cases                      1977 non-null   float64
 34  total_cases_per_million          1977 non-null   float64
 35  total_deaths                     1977 non-null   float64
 36  total_deaths_per_million         1977 non-null   float64
 37  total_tests                      1977 non-null   float64
 38  total_tests_per_thousand         1977 non-null   float64
 39  Waterfall                        1977 non-null   float64
dtypes: float64(33), int64(2), object(5)
memory usage: 617.9+ KB

In [43]:
df.to_csv('Covid_data_cleaned.csv', index=False)

In [44]:
import os
os.getcwd()

'C:\\Users\\jeeva'

In [45]:
file_path = 'C:\\Users\\jeeva\\Downloads\\Covid_data_cleaned.csv'

# Save DataFrame to CSV in the specified directory
df.to_csv(file_path, index=False)